ul.listStyleNone {
  list-style: none;
  padding-left: 0;
}

ul.feeds {
  padding: 10% 25%;
}

ul.feeds > li {
  float: left;
  width: 200px;
}

ul.feeds > li > div.heading {
  background: #eee;
  height: 40px;
  line-height: 40px;
  border-right: thin solid #b8b2b2;
  padding-left: 10px;
}

ul.news > li {
  border: thin solid black;
  height: 160px;
}

.arrow {
  float: right;
  margin-right: 14px;
  font-size: 20px
}
