<!DOCTYPE html>
<html ng-app="eventApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Show Events</title>
  <link href="main.css" rel="stylesheet">
</head>
<body ng-controller="EventCtrl">
<div>
  <ul class="listStyleNone feeds">
    <li ng-repeat="feedSource in feedSources">
      <div class="heading">
        <span>{{feedSource.title}}</span>
        <span class="arrow"> > </span>
      </div>
      <ul class="listStyleNone news">
        <li ng-repeat="n in news[$index]">
          <div>
            {{n.description}}
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<script src="lib/angular.min.js"></script>
<script src="src/EventController.js"></script>
<script src="src/EventService.js"></script>
<script src="src/UrlConfig.js"></script>
</body>
</html>
